    @font-face {
    font-family: 'Candy Shop Regular';
    font-style: normal;
    font-weight: normal;

    src: local('Candy Shop Regular'), url('Candy Shop.woff') format('woff');
    }

    h1{
        font-family: 'Candy Shop Regular';
    }

    body{
        padding-left: 10px;
        padding-right: 10px;
        background-color: rgb(252, 208, 63); 
    }

    .root {
        border-radius: 2%;
        box-shadow: inset 0px 0px 10px 0px #f3f0be;
    }

    .color1, .color2, .button1 {
        cursor: pointer;
    }
