    @font-face {
    font-family: 'Candy Shop Regular';
    font-style: normal;
    font-weight: normal;

    src: local('Candy Shop Regular'), url('Candy Shop.woff') format('woff');
    }

    h1{
        font-family: 'Candy Shop Regular';
    }
    .candyFont{
        font-family: 'Candy Shop Regular';
    }

    .app{
        min-width: 590px;
    }
    .catInfo{
        padding: 3%;
        margin-right: 20px;
        border-radius: 20px;
        margin-top: 32px;
        margin-left: 8px;
        margin-bottom: 15px;
    }

    .gutter {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

.gutter.gutter-horizontal:hover {
    cursor: col-resize;
}

/*     body{
        padding-left: 10px;
        padding-right: 10px;
        background-color: rgb(252, 208, 63); 
    }

    .root {
        border-radius: 2%;
        box-shadow: inset 0px 0px 10px 0px #f3f0be;
    }
 */